<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('projet_index') }}">Projets</a>
            </li>
          
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('materiel_index') }}">Materiels</a>
            </li>
          
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('user_index') }}">Agents</a>
            </li>
        </ul>
    </div>   
              <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('client_index') }}">Clients</a>
            </li>
            
        </ul>
    </div>
</div>