{% extends 'layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Ajouter Tache</h1>

    <form action="{{ path('tache_new', { 'id': projet.id }) }}" method="POST" {{ form_enctype(form) }}>
        {{ form(form) }}
    </form>

    <dl class="record_actions">
        <dt>
            <a href="{{ path('tache_index', { 'id': projet.id }) }}" class="btn">
                Retour à la liste
            </a>
        </dt>
    </dl>
{% endblock %}